@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: nuito, sans-serif;
}
body{
  background-color: #FCFAFA ;
}
header{
  background-color:#1E2D4C ;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
.form-control {
  border-top: 1px solid #EA4E48;
  border-right: 50px solid #EA4E48;
  border-bottom: 1px solid #EA4E48;
  border-left: 25px solid #EA4E48; /* Ajoute un contour rouge */
  position: relative;
  color: #1E2D4C;
  border-radius: 10px;
}

.form-control::after {
  content: url('..\assets\img\Loupe.png');
  position: absolute;
  right: -35px; /* Ajusté pour être à l'intérieur de la bordure */
  top: 60%;
  transform: translateY(-50%);
}
.form-control input {
  width: 30rem;
}
.indicator{
  display: flex;
  align-items: center;
}
.logo-compte{
  height: 1.5rem;
  color: white;
  margin: 1rem;
}
.logo-panier{
  height: 2rem;
  color: white;
  margin: 1rem;
}
.footer {

  background-color: #FCFAFA;
  justify-items: center
}
.items-footer{

justify-items: center
}
#confiance{
  color: #FCFAFA;
    background-color: #1E2D4C;
  justify-items: center;
  align-items: center;
}
.footer > * {

  display: grid;
  place-items: start;
  gap: 0.5rem;
  justify-items: center;
}