@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: nuito, sans-serif;

}

body{
  background-color: #FCFAFA ;

}

header{
  background-color:#1E2D4C ;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
.form-control {
  border-top: 1px solid #EA4E48;
  border-right: 50px solid #EA4E48;
  border-bottom: 1px solid #EA4E48;
  border-left: 25px solid #EA4E48; /* Ajoute un contour rouge */
  position: relative;
  color: #1E2D4C;
  border-radius: 10px;
}

.form-control::after {
  content: url('..\assets\img\Loupe.png');
  position: absolute;
  right: -35px; /* Ajusté pour être à l'intérieur de la bordure */
  top: 60%;
  transform: translateY(-50%);
}
.form-control input {
  width: 30rem;
}
.indicator{
  display: flex;
  align-items: center;
}
.logo-compte{
  height: 1.5rem;
  color: white;
  margin: 1rem;
}
.logo-panier{
  height: 2rem;
  color: white;
  margin: 1rem;
}
.footer {

  background-color: #FCFAFA;
  justify-items: center
}
.items-footer{

justify-items: center
}
#confiance{
  color: #FCFAFA;
    background-color: #1E2D4C;
  justify-items: center;
  align-items: center;
}
.footer > * {

  display: grid;
  place-items: start;
  gap: 0.5rem;
  justify-items: center;
}
/*.flex{*/
/*  flex-direction: column-reverse;*/
/*  align-items: center;*/
/*}*/
#card {
  position: relative; /* Ajoutez cette ligne */
  min-height: 80px; /* Réduisez la hauteur minimale */
  height: 80px; /* Réduisez la hauteur */
  width: 120px;
}


.card figure {
  display: flex;
  justify-content: center;
  align-items: center;

}
.img-card {
  width: 409px; /* Définissez la largeur de l'image */
  height: 300px; /* Définissez la hauteur de l'image */
  object-fit: cover ;
  object-fit: contain;
  background-color: #FCFAFA;
}
.btn-primary {


  background-color: #EA4E48; /* Change la couleur de fond du bouton */
  color: white;
  border-color: #EA4E48/* Change la couleur du texte du bouton */
}
.card-body{
  background-color: #f4f6f6;
  object-fit: cover;
  heihgt: auto;
}
h2{
  font-family: nuito;
  font-size: 25rem;
  color: #1E2D4C;
  font-size: large;
  font-weight: bold;
  align-items: center;
  text-transform: capitalize;
}
.prix{
  font-family: nuito;
  font-size: 25rem;
  color: #1E2D4C;
  font-size: large;
  font-weight: bold;
  align-items: center;
  text-transform: capitalize;
}
Product {
  max-width: 1400px;
  margin: 0 auto;
}

/*--------------------------PANIER--------------------------*/

.panier{
  display: flex;
  flex-direction: column;
  padding: 1rem;
    justify-content: space-between;
  width:330rem;
}

.article-panier{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  width:50rem;
  border: #e5e7eb 2px solid;
  border-radius: 20px;
  font-size: large;
  margin: 1rem;
  height: 20rem;
  background-color: #f6f7f8;
}

.step{
  margin-top: 3rem;
  margin-bottom: 3rem;
    display: grid;
    justify-items: center;
}
.panier{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  width:100%; /* Changez la largeur à 100% ou à une valeur plus petite en rem */
}

.articles {
  flex: 0.7; /* Ajustez la largeur flexible pour qu'elle ne dépasse pas 1 avec .recap */
}

.articles-recap {
  display: flex;
  flex-direction: row; /* Ajoutez cette ligne */
  justify-content: space-between;
}

.recap {
  display: flex;
  flex: 0.3;
  border: #e5e7eb 2px solid;
  background-color: #FCFAFA;
  height: 40rem;
  background-color: #f6f7f8;
  border-radius: 20px;
  paging:20rem;
  justify-content: center;
}

.poubelle{
 display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: large;
font-family: nuito;
color: #1E2D4C;
font-weight: bold;
}

.infoRecap{
  border-spacing: 1rem;
  padding: 3rem;
}
/*--------------------------- Login --------------------------*/
.avatar{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  margin-top: 8rem;
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  margin-top: 5rem;
}
.login label {
  margin-bottom: 1rem;
}